* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --toastify-color-success: blueviolet;
  /* --toastify-toast-background: blueviolet !important; */
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  overflow: scroll !important;
}

button:disabled {
  cursor: not-allowed;
}
