* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --toastify-color-success: blueviolet;
  --toastify-toast-background: blueviolet !important;
  -toastify-color-dark: blueviolet;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  overflow: scroll !important;
  user-select: none;
}

button:disabled {
  cursor: not-allowed;
}

.Toastify__toast-theme--dark {
  background-color: cornflowerblue;
}
