* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);

  font-family: "Roboto", sans-serif;
}

.container {
  background-color: #fff;
  width: 95vmin;
  padding: 40px 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 10px;
  box-shadow: 0 25px 50px rgba(7, 20, 35, 0.2);
}

#fileName {
  border: 1px solid #333;
  border-radius: 4px;
  padding-left: 6px;
}

.toolbar {
  padding: 16px;
  padding-left: 0;
}

.toolbar .head {
  display: flex;
  column-gap: 14px;
}

.heading {
  margin-bottom: 6px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

button {
  height: 28px;
  width: 28px;
  display: grid;
  place-items: center;
  border-radius: 3px;
  border: none;
  background-color: #fff;
  outline: none;
  color: #020929;
}

select {
  padding: 7px;
  border: 1px solid #020929;
  border-radius: 3px;
}

.options label,
.options select {
  font-family: "Roboto", sans-serif;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

input[type="color"] {
  appearance: none;
  background-color: transparent;
  width: 40px;
  height: 28px;
  border: none;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px #020929;
}

input[type="color"]::-moz-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px #020929;
}

#text-input {
  margin-top: 10px;
  outline: 1px solid #ddd;
  height: 50vh;
  padding: 20px;

  overflow: scroll;
}

.active {
  background-color: #e0e9ff;
}

.count {
  float: right;
}

.char-number {
  margin-right: 10px;
}
