.progress {
  background-color: rgb(66, 66, 230);
  height: 10px;
  transition: width 0.5s ease-in-out;
  transition-delay: 100ms;
  position: fixed;
  top: 0;
  left: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

.heading {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  font-weight: 600;
}

.turn {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.description {
  font-size: 20px;
  font-weight: 500;
}
