.chart {
  margin: 60px 60px 60px 300px;
  background-color: #41155B;
  #myChart {
    height: 100%;
    width: 100%;
    min-height: 400px;
    background-color: #41155B;
  }
   
  .zc-ref {
    display: none;
  }
}