$width-carousel: calc(100% - 240px - 120px - 30px * 2);

.slider {
  .container {
    margin-left: 240px;
    .wrapper {
      margin: 100px 60px 0;
      position: relative;

      .carousel {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc((100% / 3) - 20px);
        gap: 30px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scrollbar-width: 0;

        &::-webkit-scrollbar {
          display: none;
        }

        .card {
          flex-basis: calc((100% - 60px) / 3);
          scroll-snap-align: start;
          .img {
            border-radius: 12px;
            overflow: hidden;
            img {
              width: 100%;
            }
          }
        }
      }

      .carousel.dragging .card {
        cursor: grab;
        user-select: none;
      }

      .carousel.dragging {
        scroll-behavior: auto;
        scroll-snap-type: none;
      }

      .carousel.no-transition {
        scroll-behavior: auto;
      }

      i {
        height: 50px;
        width: 50px;
        background: #fff;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);

        &:first-child {
          left: -22px;
        }

        &:last-child {
          right: -22px;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .slider {
    .container {
      .wrapper {
        .carousel {
          grid-auto-columns: calc((100% / 2) - 15px);
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .slider {
    .container {
      .wrapper {
        .carousel {
          grid-auto-columns: 100%;
        }
      }
    }
  }
}
