.image-product {
  overflow: hidden;
  border-radius: 8px;
  transition: scale 0.2s ease-in-out;
}

.image-product:hover {
  scale: 1.05;
}

.product-container {
  border: 2px solid #ccc;
}

.card-style {
  border: 2px solid #ccc !important;
  padding: 14px;
}
