* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 60px;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 600px;
    height: 400px;
    background-color: #ccc;
    border-radius: 5px;
}

.content-heading {
    font-size: 24px;
    font-weight: 500;
    padding: 16px 12px;
}

table {
    display: inline-block;
    padding: 0px 12px;

}

input {
    font-size: 14px;
    padding: 4px;
    margin-bottom: 20px;
    color: #787777;
    border: 1px solid #878686;
    border-radius: 4px;
}

table td {
    display: inline-table;
    width: 200px;
}

textarea {
    color: #787777;
    border: 1px solid #878686;
    border-radius: 4px;
    margin-bottom: 20px;
}

.btn-submit {
    color: white;
    background-color: #666;
    cursor: pointer;
}

.btn-submit:hover {
    opacity: 0.8;
}

.description-form {
    font-weight: 300;
    color: black;
}