* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}

.list {
  background: #4286f4;
  width: 600px;
  padding: 20px;
  /* margin: 0 auto; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.list-item {
  background: #8bb3f4;
  padding: 10px;
  border: 1px solid #fff;
  margin: 2px 0;
}

.list-item.title-module {
  background: rgb(255, 111, 0);
}

.opacity {
  opacity: 0.5;
}

.placeholder {
  display: none;
  background: #303742;
  pointer-events: none;
}

/* .list-scroll {
  position: absolute;
  top: -9999px;
  left: -9999px;
} */
