* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.list {
  background: #4286f4;
  width: 600px;
  padding: 20px;
  margin: 0 auto;
}

.list-item {
  background: #8bb3f4;
  padding: 10px;
  border: 1px solid #fff;
  margin: 2px 0;
}

.list-item.title-module {
  background: rgb(255, 111, 0);
}

.opacity {
  opacity: 0.5;
}

.placeholder {
  display: none;
  background: #303742;
  pointer-events: none;
}
