/* Common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

button, input, textarea, select {
    font-family: inherit;
    font-size: inherit;
}

/* Feedback Section */
.customer-feedback {
    width: 90%;
    margin: 100px auto;
}

.section-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-heading {
    position: relative;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin: 40px 0 110px 0;
}

.section-heading::after {
    content: '';
    display: block;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: -20px;
    width: 63px;
    height: 4px;
    background: #0CB8B6;
    border-radius: 5px;
}

.feedback-detail img {
    width: 70px;
    height: 70px;
    margin: 0 20px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback-detail .description {
    margin-bottom: 20px;
    font-style: italic;
    font-size: 16px;
    color: #8D8D8D;
    line-height: 1.4;
    word-spacing: 1px;
}

.feedback-detail .name-customer {
    font-size: 16px;
    color: #5c5b5b;
    font-weight: 600;
}

.feedback-detail {
    display: flex;
    flex-basis: 29%;
    text-align: left;
    padding: 25px 12px;
}

