* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section form reservation */
.form-reservation {
    width: 780px;
    margin: 100px auto;
    text-align: center;
    padding: 60px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.form-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 26px;
    color: #3A2617;
    margin-bottom: 22px;
}

.form-heading {
    font-family: 'Alfa Slab One', cursive;
    font-size: 42px;
    color: #3A2617;
    margin-bottom: 36px;
}

.form-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.form-control {
    font-family: 'Bebas Neue', sans-serif;
    width: 280px;
    padding: 12px 55px 12px 20px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-control::placeholder {
    font-size: 18px;
    color: #3D3D3D;
}

.form-detail button {
    font-family: 'Alfa Slab One', cursive;
    width: 280px;
    height: 43px;
    padding-right: 25px;
    border: 1px solid #B0322B;
    border-radius: 5px;
    color: #fff;
    background-color: #B0322B;
    cursor: pointer;
    opacity: 0.9;
}

.form-detail button:hover {
    opacity: 1;
}

/* date */
label {
    position: relative;
    width: 280px;
    height: 40px;
    padding: 12px 55px 12px 20px;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
}

#date {
    position: relative;
    top: calc(-100% - 13px);
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 8px;
    font-size: 16px;
    background: none;
}

#date:focus {
    top: 0;
}

.placeholder {
    font-family: 'Bebas Neue', sans-serif;
    position: relative;
    top: calc(100% + 12px);
    left: -88px;
    font-size: 18px;
    color: #3D3D3D;
}

input[type="date"]:not(:focus) + .placeholder {
    position: relative;
    top: calc(-100% + -3px);
    left: -88px;
}
