.sidebar {
  .container {
    max-width: 240px;
    background-color: #231b2e;
    color: #fff;
    position: fixed;
    left: 0;
    bottom: 90px;
    top: 0;
    z-index: 1;

    .nav-list {
      .nav-item {
        .item-link {
          color: #fff;
          text-decoration: none;
          display: flex;
          align-items: center;
          column-gap: 12px;
          font-size: 14px;
          font-weight: 500;
          padding: 12px 20px;
        }

        &:hover {
          opacity: 0.8;
        }

        .title-item {
          display: flex;
          column-gap: 8px;
          span {
            font-size: 8px;
            font-weight: 500;
            color: #fff;
            background-color: red;
            padding: 2px 4px;
            border-radius: 4px;
          }
        }
      }
    }

    .active {
      background-color: #3a3344;
    }

    .logo {
      padding: 20px;
      .link-logo {
        img {
          width: 120px;
          object-fit: cover;
        }
      }
    }

    .nav {
      .seperate {
        width: 80%;
        height: 0.06px;
        background-color: #797878;
        display: block;
        margin: 16px auto 10px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
          rgba(17, 17, 26, 0.1) 0px 16px 56px,
          rgba(17, 17, 26, 0.1) 0px 24px 80px;
      }

      .nav-scroll {
        height: calc(100vh - 226px - 234px);
        overflow: hidden scroll;
        &::-webkit-scrollbar {
          width: 0.3rem;
        }
        &::-webkit-scrollbar-track {
          background-color: #231b2e;
        }
        &::-webkit-scrollbar-thumb {
          background: #797878;
          border-radius: 5rem;
        }

        .seperate-scroll {
          width: 82%;
          margin-left: 24px;
        }

        .upgrade {
          margin: 0 20px;
          padding: 14px;
          background-image: linear-gradient(117deg, #5a4be7, #c86dd7 102%);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          row-gap: 12px;
          border-radius: 8px;
          margin-bottom: 20px;

          .title-upgrade {
            font-size: 12px;
            font-weight: 600;
            text-align: center;
            line-height: 1.5;
          }

          .upgrade-link {
            color: #32323d;
            background-color: #ffdb00;
            text-decoration: none;
            font-size: 12px;
            font-weight: 600;
            padding: 8px 16px;
            border-radius: 99px;

            &:hover {
              opacity: 0.9;
            }
          }
        }

        .search-list {
          padding: 20px;
          display: flex;
          flex-direction: column;
          row-gap: 20px;
        }
      }

      .seperate-footer {
        width: 100%;
      }

      .nav-footer {
        padding-left: 20px;
        display: flex;
        align-items: center;
        column-gap: 12px;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
}
