* {
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
}

.ml-23 {
  margin-left: 23px;
}

.ml-153 {
  margin-left: 153px;
}

.header {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 50px;
}

.header .logo {
  width: 120px;
  object-fit: cover;
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 100px;
}

.nav-list {
  display: flex;
}

.nav-item {
  margin-right: 30px;
}

.nav-list a {
  text-decoration: none;
  color: #505867;
  font-size: 14px;
  font-weight: 700;
}

.nav-list a i {
  font-size: 11px;
  font-weight: 800;
  padding: 2px 0 0 3px;
}

.navbar .icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar .icon i {
  color: #505867;
  padding-top: 3px;
}

.navbar .icon i:first-child {
  margin-right: 16px;
}

.btn {
  padding: 14px 24px;
  background-color: #5f5db4;
  color: #fff;
  border-radius: 12px;
  border: none;
  font-weight: 600;
}

.icon-mobile {
  display: none;
}

.nav-mobile {
  display: none;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  /* transform: translateX(-100%); */
}

#exit,
#burger {
  display: none;
}

@media screen and (max-width: 576px) {
  .btn,
  .navbar {
    display: none;
  }

  .header {
    width: 100%;
    justify-content: space-between;
    position: relative;
  }

  .header .logo {
    width: 200px;
  }

  .icon-mobile {
    display: block;
    font-size: 30px;
    font-weight: 700;
  }

  .nav-mobile {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 70%;
    background-color: #1f2227;
    color: #fff;
    padding: 26px;
    transform: translateX(-100%);
    transition: all 0.4s ease;
  }

  .nav-mobile .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  .nav-mobile .header-title {
    font-size: 30px;
    font-weight: 700;
  }

  .nav-mobile .header-nav i {
    /* background-color: rgba(255, 255, 255, 0.15); */
    /* padding: 6px; */
    font-size: 25px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3px;
    transform: translateX(20%);
  }

  .nav-mobile .mobile-list {
    font-weight: 700;
  }

  .nav-mobile .mobile-item {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
  }

  .nav-mobile .mobile-item span {
  }

  #burger:checked ~ .nav-mobile {
    transform: translateX(0);
  }

  #burger:checked ~ .overlay {
    display: block;
    /* transform: translateX(); */
  }

  #exit:checked ~ .nav-mobile {
    transform: translateX(-100%);
  }

  #exit:checked ~ .overlay {
    display: none;
    /* transform: translateX(-100%); */
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
  }

  .navbar {
    display: none;
  }

  .icon-mobile {
    display: block;
  }

  .button-common {
    display: flex;
    align-items: center;
  }

  .button-common .btn {
    margin-right: 20px;
  }

  .button-common i {
    font-size: 24px;
  }

  .nav-mobile {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 70%;
    background-color: #1f2227;
    color: #fff;
    padding: 26px;
    transform: translateX(-100%);
    transition: all 0.4s ease;
  }

  .nav-mobile .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  .nav-mobile .header-title {
    font-size: 30px;
    font-weight: 700;
  }

  .nav-mobile .header-nav i {
    /* background-color: rgba(255, 255, 255, 0.15); */
    /* padding: 6px; */
    font-size: 20px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3px;
    transform: translateX(20%);
  }

  .nav-mobile .mobile-list {
    font-weight: 700;
  }

  .nav-mobile .mobile-item {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
  }

  .nav-mobile .mobile-item span {
  }

  #burger:checked ~ .nav-mobile {
    transform: translateX(0);
  }

  #burger:checked ~ .overlay {
    display: block;
  }

  #exit:checked ~ .nav-mobile {
    transform: translateX(-100%);
  }

  #exit:checked ~ .overlay {
    display: none;
  }
}
