* {
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
}

.ml-23 {
  margin-left: 23px;
}

.ml-153 {
  margin-left: 153px;
}

.header {
  width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
}

.header .logo {
  height: 80px;
  object-fit: contain;
  cursor: pointer;
  padding: 8px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-list {
  display: flex;
}

.nav-item {
  margin-right: 30px;
}

.nav-list a {
  text-decoration: none;
  color: #505867;
  font-size: 14px;
  font-weight: 700;
}

.nav-list a i {
  font-size: 11px;
  font-weight: 800;
  padding: 2px 0 0 3px;
}

.navbar .icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar .icon i {
  color: #505867;
  padding-top: 3px;
}

.navbar .icon i:first-child {
  margin-right: 16px;
}

.sub-menu {
  display: flex;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  padding: 30px;
  border-radius: 12px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.usage-styleguide-menu {
  display: flex;
  flex-direction: column;
  /* flex-grow: 2; */
  flex-basis: 32%;
  border-right: 1px solid #dee1e6;
}

.styleguide-list,
.usage-list {
  display: flex;
}

.styleguide-menu-right,
.usage-menu-right,
.styleguide-menu-left,
.usage-menu-left {
  flex-grow: 1;
}

.elements-menu {
  flex-basis: 70%;
  margin-left: 32px;
}

.elements-list {
  display: flex;
  position: relative;
}

.element-menu-left,
.element-menu-center,
.element-menu-right {
  flex-grow: 1;
}

.sub-menu-title {
  margin-bottom: 20px;
  font-weight: 700;
  color: #505867;
}

.sub-menu ul li {
  margin-bottom: 18px;
}

.sub-menu .styleguide-menu {
  margin-top: 45px;
}

.element-menu-center {
  position: absolute;
  top: 0;
  left: 260px;
}

.element-menu-right {
  position: absolute;
  top: 0;
  right: 42px;
}

.active {
  color: #878c96;
}

.navbar li a:hover {
  text-decoration: underline;
}
